<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputFile" value="D:\Downloads\syslog.log"/>
    <add key="OutputFile" value="D:\Downloads\result.json"/>
    <add key="ParseDateTime" value="(^.{0,15})"/>
    <add key="ParseIp" value="([0-9][0-9].[0-9].[0-9].[0-9][0-9])"/>
    <add key="ParseSource" value="([\w]+\[(.*?)\])"/>
    <add key="ParseHeader" value="([A-Z]\w+_[A-Z]\w+:)|([a-z]\w+_[a-z]\w+:)"/>
    <add key="ParseCommunity" value=""/>
    <add key="ParseRawMessage" value=""/>
    <add key="ParseTargetIp" value=""/>
  </appSettings>
</configuration>